{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.client) }}
        {{ form_row(form.openDate) }}
    <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}